<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
  <link rel="stylesheet" th:href="@{/css/adminHome.css}" />
</head>
<body>
 <header>
      <h1>adminHome</h1>
      <div class="nav-container">
        <nav>
          <ul>
            <li><a href="newSong">Add a new song</a></li>
            <li><a href="viewSongs">view all songs</a></li>
            <li><a href="createPlaylist">Create Playlist</a></li>
            <li><a href="viewPlaylists">view all Playlists</a></li>
          </ul>
        </nav>
      </div>
    </header>
</body>
</html>