<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
<link rel="stylesheet" th:href="@{/css/customerHome.css}" />
</head>
<body>
<header>
      <h1>customerHome</h1>
      <div class="nav-container">
        <nav>
          <ul>
            <li>
              <a href="logout">LOGOUT</a>
            </li>
          </ul>
        </nav>
      </div>
    </header>
    <section>
      <p class="payment-instr">
        Please make payment to continue with Premium services
      </p>
      <button><a href="pay">Get Premium</a></button>
    </section>
</body>
</html>